# Скопируй в .env локально / заполни в Railway. Секретные значения не коммитим!
PORT=3000
DB_PATH=./zerno.db
ADMIN_CODE=1234
CASHIER_CODE=2468
DISPATCH_CODE=5719
TELEGRAM_BOT_TOKEN=
SMSRU_API_ID=
FIREBASE_SA=